<nav class="navbar navbar-expand-md navbar-light bg-light  mb-4">

  <span class="navbar-brand">cDent</span>
  <iv class="collapse navbar-collapse" id="basicExampleNav">

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        
        </a>
      </li>
      <li class="nav-item">
        
      </li>
      <li class="nav-item">
       
      </li>

      <!-- Dropdown -->
      <li class="nav-item dropdown">
        
      </li>

    </ul>
    <!-- Links -->

    {{#if isLogedin}}
        <a class="btn btn-primary " href="/super/admin/logout"> Logout </a>
     {{/if}}
  </div>
</nav>