
<div class="container row ">

    <div class="col-lg-2 col-centered">
        {{#if error}}
            <div>
            <p class="text-danger text-center">{{error}}</p>
            </div>
        {{/if}}
        <div class="card card-body " style="width: 40rem;">
            <h5 class="card-title">Create Password
                <hr>
            </h5>
            <form action="/account/create/{{uniqueString}}" method="POST">
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password"name="password" aria-describedby="passwordHelp"
                           placeholder="Enter password" required>
                    <small id="passwordHelp" class="form-text text-muted">Password must contain atleast one special character and
                        one Upper case letter</small>
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" name="r_password" class="form-control" id="confirmPassword" placeholder="Confirm Password" required>
                </div>
                <div class="g-recaptcha mt-3 mb-3" data-sitekey="{{key}}"></div>
                <button type="submit" class="btn btn-primary">Create Account</button>
            </form>
        </div>
    </div>
</div>
