<h1>{{title}}</h1>
<h2>Import csv file </h2> <br>

<div class="">
  <form action="/" method="POST" enctype="multipart/form-data" class="box login">
    <input type="file" name="csv" id="inputform">
    <input type="submit" value="upload" tabindex="1">
  </form>

</div>