a {
    color: #00B7FF;
}

.card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.158);
}

.card-signin .card-title {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 2rem;
}

.card-signin .card-body {
    padding: 2rem;
}

.form-signin {
    width: 100%;
}

.form-signin .btn {
    border-radius: 5rem;
    font-size: 80%;
    font-weight: bold;
    letter-spacing: .1rem;
    padding: 1rem;
    transition: all 0.2s;
}

.form-label-group {
    margin-bottom: 1rem;
    position: relative;
}

.form-label-group input {
    border-radius: 15rem;
    height: auto;
}

.form-label-group > input,
.form-label-group > label {
    padding: .75rem 1.5rem;
}

.form-label-group > label {
    border: 1px solid transparent;
    border-radius: .25rem;
    color: #495057;
    display: block;
    left: 0;
    line-height: 1.5;
    /* Override default `<label>` margin */
    margin-bottom: 0;
    position: absolute;
    top: 0;
    transition: all .1s ease-in-out;
    width: 100%;
}

.form-label-group input::-webkit-input-placeholder {
    padding: .75rem 1.5rem;
}

.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-moz-placeholder {
    color: transparent;
}

.form-label-group input::placeholder {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
    padding-bottom: calc(.75rem / 3);
    padding-top: calc(.75rem + .75rem * (2 / 3));
}

.form-label-group input:not(:placeholder-shown) ~ label {
    color: #777;
    font-size: 12px;
    padding-bottom: calc(.75rem / 3);
    padding-top: calc(.75rem / 3);
}

.btn-google {
    background-color: #ea4335;
    color: white;
}

.btn-facebook {
    background-color: #3b5998;
    color: white;
}

/* Fallback for Edge
-------------------------------------------------- */

@supports (-ms-ime-align: auto) {
    .form-label-group > label {
        display: none;
    }

    .form-label-group input::-ms-input-placeholder {
        color: #777;
    }
}

/* Fallback for IE
-------------------------------------------------- */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .form-label-group > label {
        display: none;
    }

    .form-label-group input:-ms-input-placeholder {
        color: #777;
    }
}

/* College Detail */
.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    height: 100%;
    margin: 13px 0;
    padding: 5px;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}

.toppad {
    margin-top: 20px;
}

/* Create Password */
.col-centered {
    display: block;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    top: 25vh;
}
